@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Clash Grotesk", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.5);
  border-radius: 10px;
}

scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.5);
  border-radius: 10px;
}

cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  cursor: pointer;
}

.cursor-follower {
  position: fixed;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  mix-blend-mode: difference;
  cursor: pointer;
}